.product-section {
    padding: 40px 20px; 
    background-color: #f8f9fa;
    text-align: center; 
  }
  
  .product-container {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-card {
    background: white; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 15px; 
    padding: 20px; 
    width: 300px; 
  }
  
  .product-image {
    width: 100%; 
    height: auto; 
    border-radius: 4px; 
  }
  
  .product-title {
    margin: 15px 0 10px; 
    font-size: 1.5em; 
  }
  
  .product-description {
    color: #555; 
  }
  
/*----------solutions------*/
.solutions-container {
    padding: 40px;
    background-color: #f9f9f9;
    
    text-align: center;
    
}

.solutions-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

}

.solution-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s;
}

.solution-card:hover {
    transform: translateY(-5px);
}

.solution-card img {
    width: 100%;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}
/*----------resource--------*/
.resources-section {
    height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    background-image: url('https://source.unsplash.com/featured/?resources'); 
    background-size: cover; 
    background-position: center; 
    text-align: center; 
    padding: 20px; 
  }
  
  .resources-links {
    margin-top: 20px; 
  }
  
  .resource-link {
    display: inline-block; 
    margin: 10px; 
    padding: 10px 20px; 
    background-color: rgba(255, 255, 255, 0.2); 
    color: white; 
    border-radius: 5px; 
    text-decoration: none; 
    transition: background-color 0.3s; 
  }
  
  .resource-link:hover {
    background-color: rgba(255, 255, 255, 0.5); 
  }

  /*---------contactus-------*/
  .contact-form {
    max-width: 400px; 
    margin: auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
  }
  textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
}
  
  
