.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 15px;
}

.card-title {
    margin: 0 0 10px;
    font-size: 1.5em;
}

.card-description {
    color: #555;
}

.home {
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1584291527908-033f4d6542c8?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

}